<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <link rel="stylesheet" href="/stylesheets/heartbeat.css" type="text/css" media="screen">
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script> 
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script> 
    <script src='/javascripts/map.js'></script>
    <title> heartbeat FreiFunk Map</title>
  </head>
  <body onload='map()'>
    <div id="fullmap"></div>
    <script>
      <% if @lat && @lon %>
        window.lat = <%= @lat %>;
        window.lon = <%= @lon %>;
      <% end %>
      <% if @zoom %>
        window.zoom = <%= @zoom %>;
      <% end %>
      window.nodes = <%= raw @nodes %>;
      window.links = <%= raw @links %>;
    </script>
  </body>
</html>
