<p id="notice"><%= notice %></p>

<p>
  <b>Node:</b>
  <%= @traffic_packet.node %>
</p>

<p>
  <b>Input:</b>
  <%= @traffic_packet.input %>
</p>

<p>
  <b>Input udp:</b>
  <%= @traffic_packet.input_udp %>
</p>

<p>
  <b>Input olsr:</b>
  <%= @traffic_packet.input_olsr %>
</p>

<p>
  <b>Input tcp:</b>
  <%= @traffic_packet.input_tcp %>
</p>

<p>
  <b>Input ftp:</b>
  <%= @traffic_packet.input_ftp %>
</p>

<p>
  <b>Input ssh:</b>
  <%= @traffic_packet.input_ssh %>
</p>

<p>
  <b>Input smtp:</b>
  <%= @traffic_packet.input_smtp %>
</p>

<p>
  <b>Input http:</b>
  <%= @traffic_packet.input_http %>
</p>

<p>
  <b>Input https:</b>
  <%= @traffic_packet.input_https %>
</p>

<p>
  <b>Input icmp:</b>
  <%= @traffic_packet.input_icmp %>
</p>

<p>
  <b>Forward:</b>
  <%= @traffic_packet.forward %>
</p>

<p>
  <b>Forward udp:</b>
  <%= @traffic_packet.forward_udp %>
</p>

<p>
  <b>Forward olsr:</b>
  <%= @traffic_packet.forward_olsr %>
</p>

<p>
  <b>Forward tcp:</b>
  <%= @traffic_packet.forward_tcp %>
</p>

<p>
  <b>Forward ftp:</b>
  <%= @traffic_packet.forward_ftp %>
</p>

<p>
  <b>Forward ssh:</b>
  <%= @traffic_packet.forward_ssh %>
</p>

<p>
  <b>Forward smtp:</b>
  <%= @traffic_packet.forward_smtp %>
</p>

<p>
  <b>Forward http:</b>
  <%= @traffic_packet.forward_http %>
</p>

<p>
  <b>Forward https:</b>
  <%= @traffic_packet.forward_https %>
</p>

<p>
  <b>Forward icmp:</b>
  <%= @traffic_packet.forward_icmp %>
</p>

<p>
  <b>Output:</b>
  <%= @traffic_packet.output %>
</p>

<p>
  <b>Output udp:</b>
  <%= @traffic_packet.output_udp %>
</p>

<p>
  <b>Output olsr:</b>
  <%= @traffic_packet.output_olsr %>
</p>

<p>
  <b>Output tcp:</b>
  <%= @traffic_packet.output_tcp %>
</p>

<p>
  <b>Output ftp:</b>
  <%= @traffic_packet.output_ftp %>
</p>

<p>
  <b>Output ssh:</b>
  <%= @traffic_packet.output_ssh %>
</p>

<p>
  <b>Output smtp:</b>
  <%= @traffic_packet.output_smtp %>
</p>

<p>
  <b>Output http:</b>
  <%= @traffic_packet.output_http %>
</p>

<p>
  <b>Output https:</b>
  <%= @traffic_packet.output_https %>
</p>

<p>
  <b>Output icmp:</b>
  <%= @traffic_packet.output_icmp %>
</p>


<%= link_to 'Edit', edit_traffic_packet_path(@traffic_packet) %> |
<%= link_to 'Back', traffic_packets_path %>
