<div class="jquery_tabs example2">

  <h3>Ger&auml;te</h3>
  <div class="tab-content">
    <%= render "nodes" %>
  </div>
  <h3>Benutzer</h3>
  <div class="tab-content">
    <%= render "users" %>
  </div>
  <h3>Gruppen</h3>
  <div class="tab-content">
    <%= render "groups" %>
  </div>
  <h3>Standorte</h3>
  <div class="tab-content">
    <%= render "locations" %>
  </div>
  <h3>Parteien</h3>
  <div class="tab-content">
    <%= render "parties" %>
  </div>
  <% if current_user %>
    <h3>Meine</h3>
    <div class="tab-content">
      <%= render "owned" %>
    </div>
  <% end %>
</div>
