<p id="notice"><%= notice %></p>

<p>
  <b>Node:</b>
  <%= @traffic_byte.node %>
</p>

<p>
  <b>Input:</b>
  <%= @traffic_byte.input %>
</p>

<p>
  <b>Input udp:</b>
  <%= @traffic_byte.input_udp %>
</p>

<p>
  <b>Input olsr:</b>
  <%= @traffic_byte.input_olsr %>
</p>

<p>
  <b>Input tcp:</b>
  <%= @traffic_byte.input_tcp %>
</p>

<p>
  <b>Input ftp:</b>
  <%= @traffic_byte.input_ftp %>
</p>

<p>
  <b>Input ssh:</b>
  <%= @traffic_byte.input_ssh %>
</p>

<p>
  <b>Input smtp:</b>
  <%= @traffic_byte.input_smtp %>
</p>

<p>
  <b>Input http:</b>
  <%= @traffic_byte.input_http %>
</p>

<p>
  <b>Input https:</b>
  <%= @traffic_byte.input_https %>
</p>

<p>
  <b>Input icmp:</b>
  <%= @traffic_byte.input_icmp %>
</p>

<p>
  <b>Forward:</b>
  <%= @traffic_byte.forward %>
</p>

<p>
  <b>Forward udp:</b>
  <%= @traffic_byte.forward_udp %>
</p>

<p>
  <b>Forward olsr:</b>
  <%= @traffic_byte.forward_olsr %>
</p>

<p>
  <b>Forward tcp:</b>
  <%= @traffic_byte.forward_tcp %>
</p>

<p>
  <b>Forward ftp:</b>
  <%= @traffic_byte.forward_ftp %>
</p>

<p>
  <b>Forward ssh:</b>
  <%= @traffic_byte.forward_ssh %>
</p>

<p>
  <b>Forward smtp:</b>
  <%= @traffic_byte.forward_smtp %>
</p>

<p>
  <b>Forward http:</b>
  <%= @traffic_byte.forward_http %>
</p>

<p>
  <b>Forward https:</b>
  <%= @traffic_byte.forward_https %>
</p>

<p>
  <b>Forward icmp:</b>
  <%= @traffic_byte.forward_icmp %>
</p>

<p>
  <b>Output:</b>
  <%= @traffic_byte.output %>
</p>

<p>
  <b>Output udp:</b>
  <%= @traffic_byte.output_udp %>
</p>

<p>
  <b>Output olsr:</b>
  <%= @traffic_byte.output_olsr %>
</p>

<p>
  <b>Output tcp:</b>
  <%= @traffic_byte.output_tcp %>
</p>

<p>
  <b>Output ftp:</b>
  <%= @traffic_byte.output_ftp %>
</p>

<p>
  <b>Output ssh:</b>
  <%= @traffic_byte.output_ssh %>
</p>

<p>
  <b>Output smtp:</b>
  <%= @traffic_byte.output_smtp %>
</p>

<p>
  <b>Output http:</b>
  <%= @traffic_byte.output_http %>
</p>

<p>
  <b>Output https:</b>
  <%= @traffic_byte.output_https %>
</p>

<p>
  <b>Output icmp:</b>
  <%= @traffic_byte.output_icmp %>
</p>


<%= link_to 'Edit', edit_traffic_byte_path(@traffic_byte) %> |
<%= link_to 'Back', traffic_bytes_path %>
